<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <style>{{ css }}</style>
    </head>
    <body>
        <main class="document">
            {{ body }}
        </main>
    </body>
</html>